
.content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    min-height: 600px;
  }
  
  .image-div {
    margin-right: 20px;
    width: 50%;
    overflow: hidden;
  }
  
  .image-div img {
    width: 100%;
    height: auto;
  }
  
  .text-div {
    width: 90%;
    max-width: 600px;
    text-align: center;
    background: #8C52FF;
    font-size: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .text-div img {
    margin-bottom: 20px;
    width: 80px;
    max-width: 100%;
  }
  
  .text-div p {
    font-size: 25px;
    padding: 0;
    color: white;
    flex-grow: 1;
    margin: 0;
  }