/* Navbar.module.css */

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #253237;
  padding: 10px 20px;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.navbar-menu {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar {
  list-style-type: none;
}

.navbar li {
  display: inline;
  margin: 0 10px;
  margin-right: 20px;
}

.nav button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -2px;
  margin-right: 30px;
}

.buttons button {
  background-color: white;
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: black;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
  font-weight: 500;
}

.menu-icon {
  display: none;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: white;
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar-menu {
      display: none;
  }

  .menu-icon {
      display: block;
      cursor: pointer;
  }

  .navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: #333;
      position: absolute;
      top: 60px;
      left: 0;
      padding: 20px;
      z-index: 999;
  }

  .navbar li {
      margin: 10px 0;
  }

  .navbar.active {
      display: flex;
  }

  .navbar a.active {
      color: #007bff;
      font-weight: bold;
  }
}
