/* App.css */
/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  /* background-color: #f2f2f2; */
  scroll-behavior: smooth;
  /* margin: 0;
  padding: 0; */
}

/* @keyframes gradient-animation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

.button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 40px;
}

button:hover {
  background-color: #3068c9;
} */ 

/* Media Queries for responsiveness */

/* @media only screen and (max-width: 768px) {
  .header-name img {
      width: 200px;
      height: auto;
  }

  .content-section {
      flex-direction: column;
      align-items: center;
  }

  .text-div, .image-div {
      width: 90%;
      margin-bottom: 20px;
  }

  .image-div img {
      height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .header-content h1 {
      font-size: 2.5rem;
  }

  .header-content h3 {
      font-size: 1rem;
  }

  .header-content button {
      padding: 8px 15px;
      font-size: 0.9rem;
  }

  .text-div p {
      font-size: 1rem;
  }

  .card {
      width: 280px;
      height: 320px;
  }

  .card img {
      width: 80px;
      height: 80px;
  }

  .card-text p {
      font-size: 0.9rem;
  }

  .contact-content h2 {
      margin-bottom: 50px; 
  }
}*/